<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<%= form_for @user do |f| %>
  <%= render 'shared/error_messages' %>
  <div>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :email, "Email" %>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :password, "Password" %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div>
    <%= f.submit "Create my account" %>
  </div>
<% end %>
